.env
/phpunit.xml

# swagger ui
/public/bundles/
/public/*.webapp.manifest.json*

# contains variable data relating to app eg chache, logs
/var/*
!/var/log
/var/log/*
!/var/log/.gitkeep

# composer dependencies
/vendor/

!**/public.pem

!**/.gitignore
!**/.gitkeep
