parameters:
    ignoreErrors:
         - '#Constant APP_ENV not found.#'
#         - '#Variable method call#'
#         - '#Short ternary operator is not allowed. Use null coalesce operator#'
    polluteScopeWithLoopInitialAssignments: true
    parallel:
        # to disable parallel uncomment next line
        #maximumNumberOfProcesses: 1
         jobSize: 80
         maximumNumberOfProcesses: 24
         minimumNumberOfJobsPerProcess: 8
